<div id="alertViewTemplate" ng-controller="AlertController">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center invisible" id="alertMessageContainer">
        <p>{{alertMessage}}</p>
        <button class="btn btn-warning" onclick="hideCustomAlert()">Close</button>
      </div>
    </div>
  </div>
</div>